[submodule "recaptcha"]
	path = recaptcha
	url = https://github.com/katccat/google-image-memory-game.git
[submodule "pong"]
	path = pong
	url = https://github.com/katccat/Basic-Pong-JS
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/katccat/asteroids100.git
[submodule "love"]
	path = love
	url = https://github.com/katccat/SM64DS-Loves-Me-Remake
